<!DOCTYPE html>
<!-- location: ~/websites/personal/practice_sites/british_pub/british_pub_frontend/views/images -->
<!-- Churchill pic: ~/Desktop/green-wall.jpg -->
<html ng-app="british_pub">
  <head>
    <meta charset="utf-8">
    <title>The Hunting Horn</title>
    <link href="style.css" type="text/css" rel="stylesheet"></link>
    <link rel="icon" href="images/hunting-horn-2.png">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+SC|Chivo|Cinzel|Cormorant+Garamond|Fondamento|IM+Fell+English|Tangerine|UnifrakturMaguntia" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="mainController as ctrl">
    <div id="mainTitle">
      <a name="menu">
        <nav id="topNav" ng-click="ctrl.openAndCloseMenu()">
          OPTIONS
        </nav>
      </a>
      <div id="menuDrop" ng-show="ctrl.menuDropOpen">
        <a href="#news" ng-click="ctrl.openAndCloseMenu(); ctrl.allFalse(); ctrl.newsBox()">
          <div class="menuButton">
            News & Events
          </div>
        </a>
        <a href="#drinks" ng-click="ctrl.openAndCloseMenu(); ctrl.allFalse(); ctrl.drinksBox()">
          <div class="menuButton">
            Special Drinks
          </div>
        </a>
        <a href="#totalMenu" ng-click="ctrl.openAndCloseMenu(); ctrl.allFalse(); ctrl.totalMenuBox()">
          <div class="menuButton">
            Total Menu
          </div>
        </a>
        <a href="#where" ng-click="ctrl.openAndCloseMenu(); ctrl.allFalse(); ctrl.whereBox()">
          <div class="menuButton">
            Where & When
          </div>
        </a>
        <a href="#contacts" ng-click="ctrl.openAndCloseMenu(); ctrl.allFalse(); ctrl.contactsBox()">
          <div class="menuButton">
            Contact Us
          </div>
        </a>
      </div>
      <div id="upperTitle">
        The Hunting Horn
      </div>
      <img id="titleHorn" src="images/hunting-horn-2.png">
      <div id="lowerTitle">
        British Pub
      </div>
    </div>
    <div id="churchillQuote">
      <div id=churchillQuoteContent>
        <img id="churchillPic" src="/images/churchill-2.jpg">
        <div>
          <b>“I have taken more good from alcohol than alcohol has taken from me.”</b>
        </div>
        <div>
          <i>- Winston Churchill</i>
        </div>
      </div>
    </div>
    <div id="welcome">
      <div class="fullIntroContent" id="names">
        Ladies and Gentlemen,
      </div>
      <div class="fullIntroContent" id="introContent">
        Welcome to The Hunting Horn! Our impeccable selection of food, drink, and fellowship will leave you unquestionably satisfied, both in body and spirit. Click on the <a href="#menu"><span ng-click="ctrl.openAndCloseMenu()"><u>Options</u></span></a> button above to learn about everything we have to offer and how to reach us.
      </div>
    </div>
    <div id="folderDiv">
      <a name="news">
        <div class="folderMain">
          <div class="folderTitle" ng-click="ctrl.newsBox()">
            News & Events
          </div>
          <div class="folderContent" ng-show="ctrl.newsDropOpen">
            <!-- <div class="itemBox">
              <img class="boxTack" src="/images/tack.jpg">
              <div class="eventName">
                EVENT TITLE
              </div>
              <img class="eventImg" src="URL HERE">
              <div class="eventDate">
                Date: DATE HERE
              </div>
              <div class="eventDescription">
                EVENT DESCRIPTION
              </div>
              <div class="closeBox">
                <div class="doneFolder">
                  Done looking for an event?
                </div>
                <div class="closeFolder" ng-click="ctrl.newsDropOpen = false">
                  Click Here
                </div>
              </div>
            </div> -->
            <div class="itemBox">
              <img class="boxTack" src="/images/tack.jpg">
              <div class="eventName">
                Saint Andrew's Day
              </div>
              <img class="eventImg" src="/images/events/willie.jpg">
              <div class="eventDate">
                Date: 11/3/2017
              </div>
              <div class="eventDescription">
                Come and celebrate Scotland's national holiday! Kilt wearers will get 50% off their first drink, and caber tossing will begin at 5pm in the parking lot.
              </div>
              <div class="closeBox">
                <div class="doneFolder">
                  Done looking?
                </div>
                <div class="closeFolder" ng-click="ctrl.newsDropOpen = false">
                  Click Here
                </div>
              </div>
            </div>
            <div class="itemBox">
              <img class="boxTack" src="/images/tack.jpg">
              <div class="eventName">
                Guy Fawkes Day
              </div>
              <img class="eventImg" src="/images/events/guy-fawkes.jpg">
              <div class="eventDate">
                Date: 11/5/2017
              </div>
              <div class="eventDescription">
                Let's celebrate that Parliament didn't get blown up ... by drinking! The bonfire begins at 7pm, at which point gin & tonics will be 50% off!
              </div>
              <div class="closeBox">
                <div class="doneFolder">
                  Done looking?
                </div>
                <div class="closeFolder" ng-click="ctrl.newsDropOpen = false">
                  Click Here
                </div>
              </div>
            </div>
            <!-- Insert Next Event Here -->
          </div>
        </div>
      </a>
      <a name="drinks">
        <div class="folderMain">
          <div class="folderTitle" ng-click="ctrl.drinksBox()">
            Drinks
          </div>
          <div class="folderContent" ng-show="ctrl.drinksDropOpen">
            <!-- <div class="itemBox">
              <img class="boxTack" src="/images/drinks/...">
              <img class="drinksImg" src="URL HERE">
              <div class="drinksTitle">
                <u>TITLE HERE</u>
              </div>
              <div class="drinksDescription">
                DESCRIPTION HERE
              </div>
              <div class="drinksCost">
                PRICE HERE
              </div>
              <div class="closeBox">
                <div class="doneFolder">
                  Done looking for a drink?
                </div>
                <div class="closeFolder" ng-click="ctrl.drinksDropOpen = false">
                  Click Here
                </div>
              </div>
            </div> -->
            <div class="itemBox">
              <img class="boxTack" src="/images/tack.jpg">
              <img class="drinksImg" src="/images/drinks/sidecar.jpg">
              <div class="drinksTitle">
                <u>Sidecar</u>
              </div>
              <div class="drinksDescription">
                Thought to have been invented around World War I in London, the Sidecar is traditionally made with cognac, orange liqueur and lemon juice.
              </div>
              <div class="drinksCost">
                $6
              </div>
              <div class="closeBox">
                <div class="doneFolder">
                  Done looking?
                </div>
                <div class="closeFolder" ng-click="ctrl.drinksDropOpen = false">
                  Click Here
                </div>
              </div>
            </div>
            <div class="itemBox">
              <img class="boxTack" src="/images/tack.jpg">
              <img class="drinksImg" src="/images/drinks/oysterstout.jpg">
              <div class="drinksTitle">
                <u>Bivalve Brews</u>
              </div>
              <div class="drinksDescription">
                Traditional British oyster stout is, in fact, brewed with fresh oysters, but the beer is minerally, not fishy.
              </div>
              <div class="drinksCost">
                $5
              </div>
              <div class="closeBox">
                <div class="doneFolder">
                  Done looking?
                </div>
                <div class="closeFolder" ng-click="ctrl.drinksDropOpen = false">
                  Click Here
                </div>
              </div>
            </div>
            <div class="itemBox">
              <img class="boxTack" src="/images/tack.jpg">
              <img class="drinksImg" src="/images/drinks/Pimms-iced-tea.jpg">
              <div class="drinksTitle">
                <u>Pimm's Iced Tea</u>
              </div>
              <div class="drinksDescription">
                Pimm's No. 1, a gin-based aperitif invented by London bar owner James Pimm in 1823, is the quintessential English summer-afternoon drink (and the traditional drink of Wimbledon). Here, it is combined with tea, another beloved British beverage.
              </div>
              <div class="drinksCost">
                $7
              </div>
              <div class="closeBox">
                <div class="doneFolder">
                  Done looking?
                </div>
                <div class="closeFolder" ng-click="ctrl.drinksDropOpen = false">
                  Click Here
                </div>
              </div>
            </div>
            <div class="itemBox">
              <img class="boxTack" src="/images/tack.jpg">
              <img class="drinksImg" src="/images/drinks/savoy_daisy.jpg">
              <div class="drinksTitle">
                <u>The Savoy Daisy</u>
              </div>
              <div class="drinksDescription">
                This is an update of the classic Daisy cocktail. Instead of using white sugar as a sweetener, try muscovado, an unrefined brown sugar with a very moist texture and a strong molasses flavor.
              </div>
              <div class="drinksCost">
                $7
              </div>
              <div class="closeBox">
                <div class="doneFolder">
                  Done looking for a drink?
                </div>
                <div class="closeFolder" ng-click="ctrl.drinksDropOpen = false">
                  Click Here
                </div>
              </div>
            </div>
            <!-- Insert Next Drink Here -->
          </div>
        </div>
      </a>
      <a name="totalMenu">
        <div class="folderMain">
          <div class="folderTitle" ng-click="ctrl.totalMenuBox()">
            Total Menu
          </div>
          <div class="folderContent; delayWrap" ng-show="ctrl.totalMenuDropOpen">
            <!-- BEGIN the "Starters and Pies" category -->
            <div class="oneCategory">
              <div class="foodCategory" ng-click="ctrl.openStarter()">
                Starters & Pies
              </div>
              <div class="menuWrap" ng-show="ctrl.starterCategoryDrop">
                <div class="itemBox noItemBkgrd">
                  <div class="totalMenuTitle">
                    <u>Sausage Roll</u>
                  </div>
                  <img class="totalMenuImg" src="https://ichef.bbci.co.uk/food/ic/food_16x9_448/recipes/totally_lazy_mini_98499_16x9.jpg">
                  <div class="totalMenuDescription">
                    Spiced sausage wrapped in a flaky crust. This British savoury pastry snack, popular in Commonwealth nations and beyond.
                  </div>
                  <div class="totalMenuCost">
                    $6
                  </div>
                </div>
                <div class="itemBox noItemBkgrd">
                  <div class="totalMenuTitle">
                    <u>Scotch Egg</u>
                  </div>
                  <img class="totalMenuImg" src="http://i.telegraph.co.uk/multimedia/archive/02680/scotch_2680503b.jpg">
                  <div class="totalMenuDescription">
                    A hard boiled egg wrapped in spiced sausage, served with mustard sauce.
                  </div>
                  <div class="totalMenuCost">
                    $6
                  </div>
                </div>
                <div class="itemBox noItemBkgrd">
                  <div class="totalMenuTitle">
                    <u>Cottage Pie</u>
                  </div>
                  <img class="totalMenuImg" src="http://goodtoknow.media.ipcdigital.co.uk/111/0000029a2/3b84_orh412w625/Cottage-pie-cropped.jpg">
                  <div class="totalMenuDescription">
                    Minced Beef and vegetables topped with our mashed potatoes & gravy.
                  </div>
                  <div class="totalMenuCost">
                    $12
                  </div>
                </div>
              </div>
            </div>
            <!-- END the "Starters and Pies" category -->
            <!-- BEGIN the "Favorites & Sandwiches" category -->
            <div class="oneCategory">
              <div class="foodCategory" ng-click="ctrl.openFavorite()">
                Favorites & Sandwiches
              </div>
              <div class="menuWrap" ng-show="ctrl.favoriteCategoryDrop">
                <div class="itemBox noItemBkgrd">
                  <div class="totalMenuTitle">
                    <u>Bangers & Mash</u>
                  </div>
                  <img class="totalMenuImg" src="https://static.thespicehouse.com/images/image/4586/large_Bangers-and-mash.jpg">
                  <div class="totalMenuDescription">
                    English style sausages & homemade mash potatoes, served with English Heinz baked beans
                  </div>
                  <div class="totalMenuCost">
                    $11
                  </div>
                </div>
                <div class="itemBox noItemBkgrd">
                  <div class="totalMenuTitle">
                    <u>Authentic English Fish & Chips</u>
                  </div>
                  <img class="totalMenuImg" src="http://www.delonghi.com/Global/recipes/multifry/173.jpg">
                  <div class="totalMenuDescription">
                    Known as the best fish & chips in town, they include one-half pound of beer battered Icelandic cod, fries and peas.
                  </div>
                  <div class="totalMenuCost">
                    $14
                  </div>
                </div>
                <div class="itemBox noItemBkgrd">
                  <div class="totalMenuTitle">
                    <u>Lamb Stew in a Yorkshire Pudding</u>
                  </div>
                  <img class="totalMenuImg" src="https://easyteas.files.wordpress.com/2010/05/giant-yorkshire.jpg">
                  <div class="totalMenuDescription">
                    Chunks of beef , potato, & vegetables in hearty stew made with Guiness stout in a giant Yorkshire Pudding.
                  </div>
                  <div class="totalMenuCost">
                    $14
                  </div>
                </div>
              </div>
            </div>
            <!-- END the "Favorites & Sandwiches" category -->
            <!-- BEGIN the "Desserts" -->
            <div class="oneCategory">
              <div class="foodCategory" ng-click="ctrl.openDessertOpen()">
                Desserts
              </div>
              <div class="menuWrap" ng-show="ctrl.dessertCategoryDrop">
                <div class="itemBox noItemBkgrd">
                  <div class="totalMenuTitle">
                    <u>Hot Apple Crumble</u>
                  </div>
                  <img class="totalMenuImg" src="http://www.saidaonline.com/en/newsgfx/apple%20crumble-saidaonline.jpg">
                  <div class="totalMenuDescription">
                    Hot Apple Cobbler with crumb topping, served with hot English birds custard.
                  </div>
                  <div class="totalMenuCost">
                    $5
                  </div>
                </div>
                <div class="itemBox noItemBkgrd">
                  <div class="totalMenuTitle">
                    <u>Sticky Toffee Pudding</u>
                  </div>
                  <img class="totalMenuImg" src="https://www.recipeboffin.com/wp-content/uploads/2016/09/Sticky-Toffee-Pudding.jpg">
                  <div class="totalMenuDescription">
                    Freshly baked caramel colored sponge cake with raisins, generously ladled with warm toffee sauce and a touch of whipped cream on the side.
                  </div>
                  <div class="totalMenuCost">
                    $5
                  </div>
                </div>
                <div class="itemBox noItemBkgrd">
                  <div class="totalMenuTitle">
                    <u>Chocolate Bread Pudding</u>
                  </div>
                  <img class="totalMenuImg" src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2014/7/23/0/FN_Chocolate-Bread-Pudding_s4x3.jpg.rend.hgtvcom.616.462.suffix/1406147167168.jpeg">
                  <div class="totalMenuDescription">
                    Made with Guinness, with a dollop of whipped cream (add $2 for ice cream ala mode)
                  </div>
                  <div class="totalMenuCost">
                    $5
                  </div>
                </div>
              </div>
            </div>
            <!-- END the dessert category -->
            <div class="closeFolder" ng-click="ctrl.totalMenuDropOpen = false">
              DONE
            </div>
          </div>
        </div>
      </a>
      <a name="where">
        <div class="folderMain">
          <div class="folderTitle" ng-click="ctrl.whereBox()">
            Where & When
          </div>
          <div class="folderBox" id="whereChange" ng-show="ctrl.whereDropOpen">
            <div id="wholeWhereBox">
              <div class="oneWhereBox">
                <div class="whereTitle">
                  Where
                </div>
                <div id="addressBox">
                  The Hunting Horn can be found at the corner of Unreal Street and Fake Avenue, which is 5 minutes off of exit 101 on the Invisible Freeway. Our exact address is:
                  <div id="address">
                    <div class="whereAddress">The Hungting Horn</div>
                    <div class="whereAddress">London SW1A 1AA</div>
                  </div>
                </div>
              </div>
              <div class="oneWhereBox">
                <div class="whereTitle">
                  When
                </div>
                <div id="timeBox">
                  <table class="timeCells" id="timeTable">
                    <tr>
                      <td class="timeCells">Sunday</td>
                      <td class="timeCells">1pm - 8pm</td>
                    </tr>
                    <tr>
                      <td class="timeCells">Monday</td>
                      <td class="timeCells">11am - 11pm</td>
                    </tr>
                    <tr>
                      <td class="timeCells">Tuesday</td>
                      <td class="timeCells">11am -11pm</td>
                    </tr>
                    <tr>
                      <td class="timeCells">Wednesday</td>
                      <td class="timeCells">11am - 11pm</td>
                    </tr>
                    <tr>
                      <td class="timeCells">Thursday</td>
                      <td class="timeCells">11am - 11pm</td>
                    </tr>
                    <tr>
                      <td class="timeCells">Friday</td>
                      <td class="timeCells">11am - 3am</td>
                    </tr>
                    <tr>
                      <td class="timeCells">Saturday</td>
                      <td class="timeCells">11am - 3am</td>
                    </tr>
                  </table>
                  <i>
                    NOTE: Any exceptions, such as holidays and special events, will be announced within the "News & Events" tab.
                  </i>
                </div>
              </div>
            </div>
            <div class="closeFolder" ng-click="ctrl.whereDropOpen = false">
              DONE
            </div>
          </div>
        </div>
      </a>
      <a name="contacts">
        <div class="folderMain">
          <div class="folderTitle" ng-click="ctrl.contactsBox()">
            Contact Us
          </div>
          <div class="folderContent" ng-show="ctrl.contactsDropOpen">
            <div class="itemBox" id="itemContactBox">
              <div id="contactsContent">
                <a href="tel:555-555-5555">
                  <div class="contactTypeBox">
                    <div class="contactsTopic">
                      <u>By Phone:</u>
                    </div>
                    555-555-5555
                  </div>
                </a>
                <a href="mailto:notanActualPub@email.com">
                  <div class="contactTypeBox">
                    <div class="contactsTopic">
                      <u>By Email:</u>
                    </div>
                    <div id="emailSize">
                      notAnActualPub@email.com
                    </div>
                  </div>
                </a>
                <div class="contactTypeBox">
                  <div class="contactsTopic">
                    <u>By Mail:</u>
                  </div>
                  <div class="addressLine">The Hunting Horn</div>
                  <div class="addressLine">London SW1A 1AA</div>
                </div>
              </div>
              <div class="closeFolder" ng-click="ctrl.contactsDropOpen = false">
                DONE
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </body>
  <footer>
    <div id="demo">
      <div>
        <u>IMPORTANT!</u>
      </div>
      <div>
        THIS IS A SAMPLE WEBSITE. IT DOES <u>NOT</u> REPRESENT AN ACTUAL BUSINESS.
      </div>
    </div>
    <div id="contactFooter">
      It was designed entirely by a website developer, Nicholas Vogt. See his portfolio at <u><a href="www.nicholasvogt.info">www.nicholasvogt.info</a></u> or email him at <u><a href="mailto:nicholas.vogt2017@gmail.com">nicholas.vogt2017@gmail.com</a></u>.
    </div>
  </footer>
</html>
