<!DOCTYPE html>
<html ng-app="british_pub">
  <head>
    <meta charset="utf-8">
    <title>The Hunting Horn</title>
    <link href="style.css" type="text/css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+SC|Chivo|Cinzel|Cormorant+Garamond|Fondamento|IM+Fell+English|Tangerine|UnifrakturMaguntia" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="mainController as ctrl">
    <div id="mainTitle">
      <a name="menu">
        <nav id="topNav" ng-click="ctrl.openAndCloseMenu()">
          OPTIONS
        </nav>
      </a>
      <div id="menuDrop" ng-show="ctrl.menuDropOpen">
        <a href="#news" ng-click="ctrl.openAndCloseMenu(); ctrl.allFalse(); ctrl.newsBox()">
          <div class="menuButton">
            News & Events
          </div>
        </a>
        <a href="#drinks" ng-click="ctrl.openAndCloseMenu(); ctrl.allFalse(); ctrl.drinksBox()">
          <div class="menuButton">
            Special Drinks
          </div>
        </a>
        <a href="#totalMenu" ng-click="ctrl.openAndCloseMenu(); ctrl.allFalse(); ctrl.totalMenuBox()">
          <div class="menuButton">
            Total Menu
          </div>
        </a>
        <a href="#where" ng-click="ctrl.openAndCloseMenu(); ctrl.allFalse(); ctrl.whereBox()">
          <div class="menuButton">
            Where & When
          </div>
        </a>
        <a href="#history" ng-click="ctrl.openAndCloseMenu(); ctrl.allFalse(); ctrl.historyBox()">
          <div class="menuButton">
            Our History
          </div>
        </a>
        <a href="#contacts" ng-click="ctrl.openAndCloseMenu(); ctrl.allFalse(); ctrl.contactsBox()">
          <div class="menuButton">
            Contact Us
          </div>
        </a>
      </div>
      <div id="upperTitle">
        The Hunting Horn
      </div>
      <img id="titleHorn" src="images/hunting-horn-2.png">
      <div id="lowerTitle">
        British Pub
      </div>
    </div>
    <div id="churchillQuote">
      <div id=churchillQuoteContent>
        <div>
          <b>“I have taken more good from alcohol than alcohol has taken from me.”</b>
        </div>
        <div>
          <i>- Winston Churchill</i>
        </div>
      </div>
    </div>
    <div id="welcome">
      <div class="fullIntroContent" id="names">
        Ladies and Gentlemen,
      </div>
      <div class="fullIntroContent" id="introContent">
        Welcome to The Hunting Horn! Our impeccable selection of food, drink, and fellowship will leave you unquestionably satisfied, both in body and spirit. Click on the <a href="#menu"><span ng-click="ctrl.openAndCloseMenu()">Options</span></a> button above to learn about everything we have to offer and how to reach us.
      </div>
    </div>
    <div id="folderDiv">
      <a name="news">
        <div class="folderMain">
          <div class="folderTitle" ng-click="ctrl.allFalse(); ctrl.newsBox()">
            News & Events
          </div>
          <div class="folderContent" ng-show="ctrl.newsDropOpen">
            <div class="eventBox">
              <div class="eventName">
                Saint Andrew's Day
              </div>
              <img class="eventImg" src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2014/09/14/12/willie.jpg">
              <div class="eventDate">
                Date: 11/3/2017
              </div>
              <div class="eventDescription">
                Come and celebrate Scotland's national holiday! Kilt wearers will get 50% off their first drink, and caber tossing will begin at 5pm in the parking lot.
              </div>
            </div>
            <div class="eventBox">
              <div class="eventName">
                Guy Fawkes Day
              </div>
              <img class="eventImg" src="http://www.truebibleteaching.com/images/Teaching/guy-fawkes.jpg">
              <div class="eventDate">
                Date: 11/5/2017
              </div>
              <div class="eventDescription">
                Let's celebrate that Parliament didn't get blown up ... by drinking! The bonfire begins at 7pm, at which point gin & tonics will be 50% off!
              </div>
            </div>
            <div class="closeFolder" ng-click="ctrl.newsDropOpen = false">
              DONE
            </div>
          </div>
        </div>
      </a>
      <a name="drinks">
        <div class="folderMain">
          <div class="folderTitle" ng-click="ctrl.allFalse(); ctrl.drinksBox()">
            Special Drinks
          </div>
          <div class="folderContent" ng-show="ctrl.drinksDropOpen">
            Testing
            <div class="closeFolder" ng-click="ctrl.drinksDropOpen = false">
              DONE
            </div>
          </div>
        </div>
      </a>
      <a name="totalMenu">
        <div class="folderMain">
          <div class="folderTitle" ng-click="ctrl.allFalse(); ctrl.totalMenuBox()">
            Total Menu
          </div>
          <div class="folderContent" ng-show="ctrl.totalMenuDropOpen">
            Testing
            <div class="closeFolder" ng-click="ctrl.totalMenuDropOpen = false">
              DONE
            </div>
          </div>
        </div>
      </a>
      <a name="where">
        <div class="folderMain">
          <div class="folderTitle" ng-click="ctrl.allFalse(); ctrl.whereBox()">
            Where & When
          </div>
          <div class="folderContent" ng-show="ctrl.whereDropOpen">
            Testing
            <div class="closeFolder" ng-click="ctrl.whereDropOpen = false">
              DONE
            </div>
          </div>
        </div>
      </a>
      <a name="history">
        <div class="folderMain">
          <div class="folderTitle" ng-click="ctrl.allFalse(); ctrl.historyBox()">
            Our History
          </div>
          <div class="folderContent" ng-show="ctrl.historyDropOpen">
            Testing
            <div class="closeFolder" ng-click="ctrl.historyDropOpen = false">
              DONE
            </div>
          </div>
        </div>
      </a>
      <a name="contacts">
        <div class="folderMain">
          <div class="folderTitle" ng-click="ctrl.allFalse(); ctrl.contactsBox()">
            Contact Us
          </div>
          <div class="folderContent" ng-show="ctrl.contactsDropOpen">
            Testing
            <div class="closeFolder" ng-click="ctrl.contactsDropOpen = false">
              DONE
            </div>
          </div>
        </div>
      </a>
    </div>
  </body>
  <footer>
    <div id="demo">
      <div>
        <u>IMPORTANT!</u>
      </div>
      <div>
        THIS IS A SAMPLE WEBSITE. IT DOES <u>NOT</u> REPRESENT AN ACTUAL BUSINESS.
      </div>
    </div>
    <div id="contactFooter">
      It was designed entirely by a website developer, Nicholas Vogt. See his portfolio at <a href="www.nicholasvogt.info">www.nicholasvogt.info</a> or email him at <a href="mailto:nicholasvogt2017@gmail.com">nicholasvogt2017@gmail.com</a>.
    </div>
  </footer>
</html>
